<h3>login</h3>
<form #formLogin="ngForm">
  <div class="form-group row">
    <label class="col-sm-3">username:</label>
    <div class="col-sm-9  mb-1">
       <input class="form-control" [(ngModel)]="login.username" name="username" required  pattern="^[a-zA-Z].+" /> 
      </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3">password:</label>
    <div class="col-sm-9 mb-1">
   <input class="form-control " [(ngModel)]="login.password"  name="password" required minlength="3" /> 
   </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3">roles:</label>
    <div class="col-sm-9  mb-1">
       <input  class="form-control" [(ngModel)]="login.roles" name="roles" required  /> 
    </div>
  </div>

    <input type="button" class="btn btn-primary" value="login" (click)="onLogin()" 
       [disabled]="!formLogin.form.valid"/>
      <br/>
</form>
message: {{message}}
