<h3>conversion de devise</h3>
montant : <input [(ngModel)]="montant" /> <br/>
code devise source : <select [(ngModel)]="codeDeviseSource" >
    <option *ngFor="let d of listeDevises">{{d.code}}</option>
</select> <br/>
code devise cible : <select [(ngModel)]="codeDeviseCible" >
    <option *ngFor="let d of listeDevises">{{d.code}}</option>
</select> <br/>
<input type="button" (click)="onConvertirV2()" value="convertir" /> <br/>
montantConverti = {{montantConverti}} <br/>
<hr/>
{{message}}
<hr/>
code devise a supprimer: <input [(ngModel)]="codeToDelete" /> 
<button (click)="onDelete()">delete devise</button>
