<p>basic works!</p>
<a routerLink="/ngr-basic/tva">tva</a>  &nbsp;  <a routerLink="/ngr-basic/calculatrice">calculatrice</a> 
<router-outlet></router-outlet> <!-- sous niveau , remplacé par le sous composant en fin de route -->

<hr/>
<mat-tab-group>
    <mat-tab label="calculatrice">
          <app-calculatrice></app-calculatrice>
    </mat-tab>
    <mat-tab label="calcul tva">
         <app-tva></app-tva>
    </mat-tab>
</mat-tab-group>
<hr/>
<app-toggle-panel title="calculatrice">
     <app-calculatrice></app-calculatrice>
</app-toggle-panel>

<app-toggle-panel title="calcul tva">
    <app-tva></app-tva>
</app-toggle-panel>

